* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.forms {
    background-color: thistle;
    background: rgba(70, 54, 89, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(70, 54, 89, 2);
    margin-top: 5px;
    color: white;
}

.send {
    background-color: #1A052A;
    border: 1px solid rgba(70, 54, 89, 2);
    color: white;
}

.send:hover {
    color: white;
    background-color: #310749;
    border: 1px solid rgba(70, 54, 89, 2);
}
