body {
    background-image: url("../images/background_slide.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202020;
   }

.nav-marg{
    margin-left: 10px;
    margin-right: 10px;
}

.bg-nav{
    background-color: #202020;
}

.cores-letras-nav{
    color: white;
}

.botao{
    width: 100px;
    background-color: #1A052A;
    border: 1px solid rgba(70, 54, 89, 2);
    color: white;
}

.botao:hover{
    background-color: #310749;
    border: 1px solid rgba(70, 54, 89, 2);
}