@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100;200;300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

.titulo-logo {
    font-size: 1.8rem;
}

.img-carousel {
    height: 600px;
    object-fit: cover;
}

.img-about {
    display: flex;
    justify-content: center;
}

.imagem {
    width: 70%;
}

.btn-size {
    width: 300px;
}

.size-div-sec1 {
    padding: 5rem;
}

.div-card-bg {
    background: rgba(143, 116, 155, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(143, 116, 155, 0.3);
    padding-bottom: 50px;
    margin-bottom: 150px;
}


.card-bg {
    background: rgba(255, 255, 255, 0.76);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    min-height: 500px;
}

.botao-card {
    width: 100px;
    background-color: #1A052A;
    border: 1px solid rgba(70, 54, 89, 2);
    color: white;
}

.botao-card:hover {
    color: white;
    background-color: #310749;
    border: 1px solid rgba(70, 54, 89, 2);
}